[user]
    name = Connor Smith
    email = wconnorsmith@gmail.com

[core]
    editor = emacsclient

[color]
    ui = auto

[alias]
    a = add
    ci = commit
    co = checkout
    d = diff
    de = difftool --tool=ediffclient
    dno = diff --name-only
    br = branch
    f = fetch
    lg = log --branches --tags --graph --oneline --decorate
    rh = reset --hard
    st = status
    ui = auto

[pull]
    ff = only
    rebase = true

[push]
    default = simple

[difftool "ediffclient"]
    cmd = emacsclient --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[include]
    path = .gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
